.header {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 45px;
  height: 70px;
  background-color: getColor('grey', 'darken');

  &__logo {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

    > a {
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;
      padding: 0 10px;
    }
  }

  &__main-nav {
    width: 400px;
  }

  // &__search {
  //   display: flex;
  //   flex-flow: row nowrap;
  //   justify-content: space-between;
  //   align-items: center;
  //   background-color: #fff;

  //   &__wrap {
  //     box-sizing: border-box;
  //     margin: 0 auto;
  //     width: 250px;
  //   }
  // }
}