$text: ('size': ('xsmall': 12px,'small': 14px,'base': 16px,'large': 18px,'xlarge': 20px,'xzlarge': 40px,'big': 100px),'weight': ('thin': 200,'light': 300,'regular': 400,'bold': 600,'exbold': 800));
$web-font-path: '/fonts/';
$web-fonts: ('NotoSansKR': ('files': ('thin': 'NotoSansKR-Thin','light': 'NotoSansKR-Light','regular': 'NotoSansKR-Regular','bold': 'NotoSansKR-Bold','exbold': 'NotoSansKR-Extra-Bold'),'exts': ('woff2','woff','eot')));
$noto: 'NotoSansKR';
